<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.bcichecki.rms.client.android"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="pl.bcichecki.rms.client.android.application.Application"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_launcher"
        android:label="@string/general_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.bcichecki.rms.client.android.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.bcichecki.rms.client.android.activities.SettingsActivity"
            android:label="@string/activity_settings_title" >
        </activity>
        <activity android:name="pl.bcichecki.rms.client.android.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.bcichecki.rms.client.android.activities.LoginActivity" />
        </activity>
        <activity
            android:name="pl.bcichecki.rms.client.android.activities.MessagingActivity"
            android:label="@string/activity_messaging_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.bcichecki.rms.client.android.activities.MainActivity" />
        </activity>
        <activity
            android:name="pl.bcichecki.rms.client.android.activities.EditDeviceActivity"
            android:label="@string/activity_edit_device_title_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.bcichecki.rms.client.android.activities.MainActivity" />
        </activity>
    </application>

</manifest>