<?xml version="1.0" encoding="UTF-8"?>
<!--
	Project: Reporters Management System - Server
	File: spring-beans.xml
	License:
	This file is licensed under GNU General Public License version 3
	http://www.gnu.org/licenses/gpl-3.0.txt

	Copyright: Bartosz Cichecki [ cichecki.bartosz@gmail.com ]
	Date: 07-08-2012
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.1.xsd http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<!-- Configuration -->
	<mvc:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="pl.bcichecki.rms.ws.rest" />
	<!-- Properties -->
	<bean id="properties" class="pl.bcichecki.rms.utils.PropertiesUtils">
		<property name="location" value="rms-server.properties" />
	</bean>
	<!-- JPA configuration -->
	<import resource="jpa-beans.xml" />
	<!-- Security configuration -->
	<import resource="security-beans.xml" />
	<!-- Application context -->
	<bean id="applicationContextHolder" class="pl.bcichecki.rms.holders.ApplicationContextHolder" />
	<!-- DAO beans -->
	<bean id="addressDataContactsDao" class="pl.bcichecki.rms.dao.impl.AddressDataContactsDaoImpl" />
	<bean id="addressDataDao" class="pl.bcichecki.rms.dao.impl.AddressDataDaoImpl" />
	<bean id="devicesDao" class="pl.bcichecki.rms.dao.impl.DevicesDaoImpl" />
	<bean id="eventsDao" class="pl.bcichecki.rms.dao.impl.EventsDaoImpl" />
	<bean id="accessHistoryDao" class="pl.bcichecki.rms.dao.impl.AccessHistoryDaoImpl" />
	<bean id="messageRecipentsDao" class="pl.bcichecki.rms.dao.impl.MessageRecipentsDaoImpl" />
	<bean id="messagesDao" class="pl.bcichecki.rms.dao.impl.MessagesDaoImpl" />
	<bean id="rolesDao" class="pl.bcichecki.rms.dao.impl.RolesDaoImpl" />
	<bean id="usersDao" class="pl.bcichecki.rms.dao.impl.UsersDaoImpl" />
	<!-- Services -->
	<bean id="accessHistoryService" class="pl.bcichecki.rms.services.impl.AccessHistoryServiceImpl" />
	<bean id="devicesService" class="pl.bcichecki.rms.services.impl.DevicesServiceImpl" />
	<bean id="eventsService" class="pl.bcichecki.rms.services.impl.EventsServiceImpl" />
	<bean id="messagesService" class="pl.bcichecki.rms.services.impl.MessagesServiceImpl" />
	<bean id="privilegesService" class="pl.bcichecki.rms.services.impl.PrivilegesServiceImpl" />
	<bean id="rolesService" class="pl.bcichecki.rms.services.impl.RolesServiceImpl" />
	<bean id="usersService" class="pl.bcichecki.rms.services.impl.UsersServiceImpl" />
	<!-- Emergency admin -->
	<bean id="emergencyAdminService" class="pl.bcichecki.rms.services.special.EmergencyAdminServiceImpl">
		<property name="EmergencyAdmin" ref="emergencyAdmin" />
	</bean>
	<bean id="userDetailsService" class="pl.bcichecki.rms.services.special.UserDetailsServiceImpl" />
	<bean id="emergencyAdmin" class="pl.bcichecki.rms.model.impl.UserEntity">
		<property name="locked" value="${eadm.locked}" />
		<property name="deleted" value="${eadm.locked}" />
		<property name="username" value="${eadm.username}" />
		<property name="password" value="${eadm.password}" />
	</bean>
	<!-- RestUtils -->
	<bean id="restUtils" class="pl.bcichecki.rms.ws.rest.json.utils.RestUtils">
		<property name="hashResponseBody" value="${rest.hashResponseBody}" />
		<property name="checkRequestBodyHash" value="${rest.checkRequestBodyHash}" />
	</bean>
	<!-- Messages resource -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="locale\rms-server" />
	</bean>
</beans>